
@keyframes mymove {
    50% {font-size: 1.05em;}
}
header {
    background-color: #A6DAE4;
    padding: 0;
    margin: auto;
    width: 65%;
}
header a:link, a:visited {
    text-decoration: none;
    color: lightgoldenrodyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Georgia, serif;
    padding: 10px 50px 10px 50px;
}
header a:hover, a:active{
    color: goldenrod;
    text-shadow: 2px 2px lightgoldenrodyellow;
}
#name {
    float: left;
}
#about{
    float: left;
}
#contact {
    float: left;
}

#box {
    background-color: #575757;
    align-content: center;
    padding: 10px 10px 10px 10px;
    border: 3px solid black;
    width: 65%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    box-shadow: 10px 10px black;
    overflow: auto;
    color: lightgoldenrodyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: #A6DAE4;
    clear: both;
}

div img {
    margin: 50px 10px 20px 10px;
    border: 2px solid black;
}
div img:hover {
    margin: 50px 10px 20px 10px;
    border: 2px solid black;
    box-shadow: 10px 10px black;
}
#photos {
    width: 57%;
    margin: auto;

}
div #space {
    clear: both;
    margin: 100px;
}