body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
  }
  
  header {
    background: #e1e1e1;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  .profile-pic {
    width: 150px;
    height: audo;
    display: block;
    margin: 20px auto;
  }
  
  .content {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
  }
  
  .content h2 {
    color: #cbcbcb;
  }
  
  .content p {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  